.wrap-all{
   padding: 10px;
   background-color: #cccccc;
    .wrap{
        background-color: #cccccc;
        input {
            width: 100%;
            text-align: left;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(10,4,37,1);
            color: #333;
            padding-left: 0px !important;
            &:focus {
                outline: none;
            }
        }
        textarea {
            width: 100%;
            height: 80px;
            text-align: left;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid rgba(10,4,37,1);
            color:#333  ;
            padding-left: 0px !important;
            &:focus {
                outline: none;
            }
    }
    }
    .arlo_tm_button {
		a {
			text-decoration: none;
			color: #fff;
			background-color: #E3872D;
			font-weight: 600;
			padding: 12px 35px;
			border-radius: 3px;
			display: inline-block;
			position: relative;
			overflow: hidden;
			&:before {
				position: absolute;
				content: "";
				top: 0px;
				height: 100%;
				left: -25%;
				width: 0%;
				background-color: #1b4773;
				transform: skew(50deg);
				transition-duration: .6s;
				z-index: 1;
			}
			&:hover {
				&:before {
					width: 170%;
				}
			}
			span {
				position: relative;
				z-index: 2;
			}
		}
	}
}